 /*<<<<<<<<< only animinations >>>>>>>>>!*/
            @keyframes slide-2{
            	from{
            		margin-top: 0px;
                margin-left: 0px;
            	}
              to{
/*                 margin-top: -35px;*/
                 margin-left: -600px;

              }
            }

            @keyframes endpage{
                from{
                   
                }
                to{
                   cursor: crosshair;
                }
            }

             @keyframes start{
                from{
                   color: transparent;
                   
                }
                to{
                   cursor: crosshair;
                   margin-left: 600px;
                   margin-top: 30px;
                   color: black;
                }
            }